@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3 ,h4{
    margin: 0;
}
:root{
    --bg-gray: #ddd;
    --color-primary:#4D41C0 ;
    --white: #fff;
}

header {
    background-color:var(--color-primary);
    color: var(--white);
    height: 60px;
    display: flex;
    align-items: center;
}

body{
    background-color: var(--bg-gray);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h1{
    font-size: 24px;
    font-weight: 700;
}

a, a:hover {
    color: var(--white);
    text-decoration: none;
}
a nav{
    font-size: 12px;
    font-weight: 400;
}
.dsmovie-contact-container{
    display: flex;
    align-items: center;
}

.dsmovie-contact-container img {
    margin-right: 10px;
}